body {
    margin: 0;
    padding: 0;
    color: #5C4033;
}


/* Header */

.title {
    text-align: center;
    margin-top: 20px;
}

.title__text {
    font-size: 30px;
    font-weight: bold;
}


/* Area */

.b_area {
    text-align: center;
}

.free_space {
    height: 200px;
}

.play_button {
    height: 50px;
    padding: 8px;
    min-width: 160px;
    background-color: #5d5c61;
    color: white;
    border-radius: 12px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    border: 2px solid #5C4033;
}

.play_button:hover {
    background-color: white;
    color: #5C4033;
    border: 2px solid black;
}

.config_form {
    max-width: 800px;
    text-align: center;
}

.flash_message {
    color: #A1B099;
}

.auth-form {
    margin-top: 40px;
}

.redirect-to-login {
    margin-top: 20px;
}

.redirect-to-login a:hover {
    color: #5d5c61;
}