body{
    margin: 0;
    padding: 0;
    color: #5C4033;
}

/* Header */
.title{
    text-align: center;
    margin-top: 20px;
}

.title__text{
    font-size: 30px;
    font-weight: bold;
}

/* Area */
.b_area{
    margin-top: 200px;
    text-align: center;
}

.button__class{
    height: 50px;
    padding: 8px;
    min-width: 160px;
    background-color: #5C4033;
    color: white;
    border-radius: 12px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    border:2px solid black;
}

.button__class:hover{
    background-color: white;
    color: #5C4033;
    border: 2px solid black;
}

.button_s{
    margin-top: 50px;
}

#block_f{
    display: block;
}

/* Area with block of button */
#choosing_area{
    display: none;
 
}
.area_button__time{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.choosing__all{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.time__text{
    padding-right: 10px;
}

.choosing__color__text{
    margin-right: 10px;
}

.home {
    margin-left: 20px;
}

.auth {
    margin-right: 40px;
}

.form-select {
    max-width: 800px;
}

.alert-text {
    margin-left: 32px;
}
