/* Handle */
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d7a83; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #77757e; 
}

body {
    color: #5C4033;
}

.nav-link {
    color: #5d5c61;
}

.nav-link:hover {
    color: #5C4033;
}

/* Header */

.title {
    text-align: center;
    margin-top: 20px;
}

.title__text {
    font-size: 30px;
    font-weight: bold;
}


/* Area */

.b_area {
    text-align: center;
}

.free_space {
    height: 200px;
}

.play_button {
    height: 50px;
    padding: 8px;
    min-width: 160px;
    background-color: #5d5c61;
    color: white;
    border-radius: 12px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    border: 2px solid #5C4033;
}

.play_button:hover {
    background-color: white;
    color: #5C4033;
    border: 2px solid black;
}

.config_form {
    max-width: 800px;
    text-align: center;
}

.list-group {
    margin-bottom: 5px;;
}

.flash_message {
    color: #A1B099;
}

/* authentication */
.auth-form {
    margin-top: 40px;
}

.redirect-to-login {
    margin-top: 20px;
}

.redirect-to-login a:hover {
    color: #5d5c61;
}

.search-dropdown-item {
    cursor: pointer;
}

.form_field {
    cursor: pointer;
}

.profile_image {
    width: 50px;
    height: 50px;
}

.games {
    /* color: rgba(14, 13, 13, 0.87); */
    overflow-y: auto;
    height: 700px;
    /* background: #d6d6d588; */
    /* -webkit-box-shadow: 0px 3px 8px -1px rgba(84,84,84,0.9);  */
    /* box-shadow: 0px 3px 8px -1px rgba(84,84,84,0.9); */
    /* border-bottom: 2px solid gray; */
    border-top: 2px solid gray;
}

.game {
    border-bottom: 1px solid gray;
    height: 40px;
}

.hidden {
    display: none;
}



/* .col-lg-5 {
    border: 1px solid black;
}
.col-lg-7 {
    border: 1px solid black;
} */



/* modal */
.promotion_modal {
    /* border: 1px solid black; */
    width: 12.5%;
    position: absolute;
    top: 0;
    left: 0;        /* moves using this */
    z-index: 10;
    /* transform: scale(0); */
}

.overlay {
    /* border: 1px solid black; */
    position: relative;
}

.sq-q {
    border-bottom: 1px solid #0a020265;
}

.piece-img {
    max-width: 100%;
    max-height: auto;
}
