{% extends 'layout.html' %}

{% block extra_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
{% endblock extra_links %}


{% block content %}



<div class="container-lg">

    <div class="row mt-3">
        <div class="col-lg-8">
            <div class="chessboard" id="board"></div>
        </div>
        <div class="col-lg-4">
            <div class="row h-100">
                <div class="col-12">
                    <img class="profile_image" src="{{ player1.user.get_image_url() }}"></img>
                    <div class="username">{{ player1.user.username }}</div>
                </div>
                <div class="col-12 mt-auto">
                    <img class="profile_image" src="{{ player2.user.get_image_url() }}"></img>
                    <div class="username">{{ player2.user.username }}</div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock content %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
{% endblock extra_scripts %}
